In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import statistics
from statistics import mean
from itertools import combinations
from itertools import chain
import re

In [ ]:
data = pd.read_csv('movie_bd_v5.csv')
data

In [ ]:
data.head(50)

In [ ]:
data.info()

# Предобработка

In [ ]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [ ]:
# Создание столбца profit (Сборы - бюджет). Содержит int.
data['profit'] = data.apply(lambda row: row['revenue'] - row['budget'], axis=1)

In [ ]:
# Создание столбца month. Содержит название месяца в виде целого числа (напр. октябрь = 10)
data['month'] = data.apply(lambda row: row['release_date'][ : row['release_date'].index('/')], axis=1)

In [ ]:
# Создание столбца len_original_title. Содержит количество символов в названии
# из столбца original_title в виде int.
data['len_original_title'] = data.apply(lambda row: len(row['original_title']), axis=1)

In [ ]:
# Создание столбца len_overview_words. Содержит кол-во слов в описании фильма (overview) в виде int.
data['len_overview_words'] = data.apply(lambda row: len(
    re.compile('\w*\W').findall(row['overview'])), axis=1)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [ ]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# если ответили верно, можете добавить комментарий со значком "+"

In [ ]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()][['original_title', 'imdb_id']]

In [ ]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения
data[['original_title', 'imdb_id', 'budget']].sort_values(['budget'], ascending=False).head(1)

In [ ]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [ ]:
data[data.runtime == data.runtime.max()][['original_title', 'imdb_id']]

In [ ]:
answers['2'] = 'Gods and Generals (tt0279111)'

ВАРИАНТ 2

In [ ]:
data[['original_title', 'imdb_id', 'runtime']].sort_values(['runtime'], ascending=False).head(1)

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
data[data.runtime == data.runtime.min()][['original_title', 'imdb_id']]

In [ ]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

ВАРИАНТ 2

In [ ]:
data[['original_title', 'imdb_id', 'runtime']].sort_values(['runtime']).head(1)

# 4. Какова средняя длительность фильмов?

In [ ]:
round(data.runtime.mean())

In [ ]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [ ]:
data.runtime.median()

In [ ]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [ ]:
data[data.profit == data.profit.max()][['original_title', 'imdb_id']]

In [ ]:
answers['6'] = 'Avatar (tt0499549)'

ВАРИАНТ 2

In [ ]:
data[['original_title', 'imdb_id', 'profit']].sort_values(['profit']).tail(1)

# 7. Какой фильм самый убыточный?

In [ ]:
data[data.profit == data.profit.min()][['original_title', 'imdb_id']]

ВАРИАНТ 2

In [ ]:
data[['original_title', 'imdb_id', 'profit']].sort_values(['profit']).head(1)

In [ ]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [ ]:
data.query('profit > 0').profit.count()

ВАРИАНТ 2

In [ ]:
data[data.revenue > data.budget].imdb_id.count()

In [ ]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
grouped = data[data.release_year == 2008].groupby(['release_year']).revenue.max().reset_index()
data[data.revenue == grouped.revenue.max()][['original_title', 'imdb_id']]

In [ ]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
data[(data.release_year <= 2014) & (data.release_year >= 2012)][
    ['original_title', 'imdb_id', 'profit']].sort_values(['profit']).head(1)

In [ ]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [ ]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [ ]:
Counter(data.genres.str.cat(sep='|').split('|')).most_common(1)

In [ ]:
answers['11'] = 'Drama'

ВАРИАНТ 2

In [ ]:
 genre_list = data.genres.str.cat(sep='|').split('|')

In [ ]:
max(set(genre_list), key=lambda x: genre_list.count(x))

ВАРИАНТ 3

In [ ]:
pd.Series(data.genres.str.cat(sep='|').split('|')).value_counts().head(1)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
pd.Series(data[data.profit > 0].genres.str.cat(sep='|').split('|')).value_counts().head(1)

In [ ]:
answers['12'] = 'Drama'

ВАРИАНТ 2

In [ ]:
Counter(data[data.profit > 0].genres.str.cat(sep='|').split('|')).most_common(1)

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [ ]:
director_list = data.director.str.cat(sep='|').split('|')
pd.Series({director: sum(data[data.director.str.contains(director)].revenue) for director in director_list}
         ).sort_values().tail(1)

In [ ]:
answers['13'] = 'Peter Jackson '

ВАРИАНТ 2

In [ ]:
revenue = [data['revenue'][data.director.str.contains(director)].sum() for director in director_list]

In [ ]:
res_dataframe = pd.DataFrame({'director': director_list, 'revenue': revenue})

In [ ]:
res_dataframe.sort_values(['revenue']).tail(1)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
pd.Series(data[data.genres.str.contains('Action')].director.str.cat(sep='|').split('|')
         ).value_counts().head(1)

In [ ]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
data_2012 = data[data.release_year == 2012]
data_actor = data_2012.cast.str.cat(sep='|').split('|')

In [ ]:
revenue = [data_2012['revenue'][data_2012.cast.str.contains(actor)].sum() for actor in data_actor]

In [ ]:
result_df = pd.DataFrame({'actor': data_actor, 'revenue': revenue})

In [ ]:
result_df.sort_values(['revenue']).tail(1)

In [ ]:
answers['15'] = 'Chris Hemsworth'

ВАРИАНТ 2

In [ ]:
pd.Series({actor: sum(data_2012[data_2012.cast.str.contains(actor)].revenue) for actor in data_actor}
         ).sort_values().tail(1)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.cat(sep='|').split(sep='|')
         ).value_counts().head(1)

In [ ]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
pd.Series(data[data.cast.str.contains('Nicolas Cage')].genres.str.cat(sep='|').split('|')
         ).value_counts().head(1)

In [ ]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
data[data.production_companies.str.contains('Paramount Pictures')][['original_title', 'profit']
                                                                  ].sort_values(['profit']).head(1)

In [ ]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
data.groupby(['release_year']).revenue.sum().sort_values(ascending=False).head(1)

In [ ]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
data[data.production_companies.str.contains('Warner Bros')
    ].groupby(['release_year']).profit.sum().sort_values().tail(1)

In [ ]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
data['month'].value_counts().head(1)

In [ ]:
answers['21'] = '9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
summer = ['6', '7', '8']
data.query('month in @summer').cast.count()

In [ ]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
winter = ['12', '1', '2']
pd.Series(data.query('month in @winter').director.str.cat(sep='|').split('|')).value_counts().head(1)

In [ ]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [343]:
prod_comp = data.production_companies.str.cat(sep='|').split('|')

In [344]:
# Почему-то .mean() не срабатывала с конструкцией data.production_companies.str.contains(x) вместо lambda.
# Гуглил долго, но разобраться так и не смог. Если расскажете почему .sum() работает, а .mean() — нет 
# буду очень признателен =)

len_title = [data['len_original_title'][data['production_companies'
                                            ].map(lambda x: True if company in x else False)
                                       ].mean() for company in prod_comp]

In [345]:
res_df = pd.DataFrame(prod_comp, columns=['company'])
res_df['len'] = len_title

In [346]:
res_df[['company', 'len']].sort_values(['len']).tail(1)

                      company   len
4687  Four By Two Productions  83.0

In [ ]:
answers['24'] = 'Four By Two Productions'

ВАРИАНТ 2

In [355]:
pd.Series([data[data.production_companies.str.contains(company)]['len_original_title'].mean()
           for company in prod_comp], index=prod_comp).sort_values(ascending=False).head(1)

Four By Two Productions    83.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
prod_comp = data.production_companies.str.cat(sep='|').split('|')

In [ ]:
# Таже петрушка. .mean() опять не стал работать с data.production_companies.str.contains(x).

len_word_overview = [data['len_overview_words'][data['production_companies'
                                            ].map(lambda x: True if company in x else False)
                                       ].mean() for company in prod_comp]

In [ ]:
res_w_df = pd.DataFrame({'company': prod_comp, 'len_words': len_word_overview})

In [ ]:
res_w_df.sort_values(['len_words']).tail(1)

In [ ]:
answers['25'] = 'Midnight Picture Show'

ВАРИАНТ 2

In [356]:
pd.Series([data[data.production_companies.str.contains(company)]['len_overview_words'].mean()
           for company in prod_comp], index=prod_comp).sort_values(ascending=False).head(1)

Midnight Picture Show    192.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
data_sorted = data[['original_title', 'vote_average']].sort_values(['vote_average'], ascending=False)
len_rows_1per = round(len(data_sorted.original_title) / 100)
result = data_sorted.head(round(len(data_sorted.original_title) / 100))

In [ ]:
result

In [ ]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
actor_list = data.apply(lambda row: row.cast.split('|'), axis=1)

In [ ]:
pairs = [list(combinations(sublist, 2)) for sublist in actor_list]

In [ ]:
pd.Series(itertools.chain.from_iterable(pairs)).value_counts().head(20)

In [ ]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)