In [71]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import statistics
from statistics import mean
from itertools import combinations
from itertools import chain
import re

In [73]:
data = pd.read_csv('movie_bd_v5.csv')
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [4]:
data.head(50)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
5,tt1663202,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,7.2,2015
6,tt1340138,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,5.8,2015
7,tt3659388,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,Ridley Scott,Bring Him Home,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,9/30/2015,7.6,2015
8,tt2293640,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,6.5,2015
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
10,tt2379713,245000000,880674609,Spectre,Daniel Craig|Christoph Waltz|LÃ©a Seydoux|Ralp...,Sam Mendes,A Plan No One Escapes,A cryptic message from Bondâ€™s past sends him...,148,Action|Adventure|Crime,Columbia Pictures|Danjaq|B24,10/26/2015,6.2,2015
11,tt1617661,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/2015,5.2,2015
12,tt0470752,15000000,36869414,Ex Machina,Domhnall Gleeson|Alicia Vikander|Oscar Isaac|S...,Alex Garland,There is nothing more human than the will to s...,"Caleb, a 26 year old coder at the world's larg...",108,Drama|Science Fiction,DNA Films|Universal Pictures International (UP...,1/21/2015,7.6,2015
13,tt2120120,88000000,243637091,Pixels,Adam Sandler|Michelle Monaghan|Peter Dinklage|...,Chris Columbus,Game On.,Video game experts are recruited by the milita...,105,Action|Comedy|Science Fiction,Columbia Pictures|Happy Madison Productions,7/16/2015,5.8,2015
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015
15,tt3460252,44000000,155760117,The Hateful Eight,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,Quentin Tarantino,No one comes up here without a damn good reason.,Bounty hunters seek shelter from a raging bliz...,167,Crime|Drama|Mystery|Western,Double Feature Films|The Weinstein Company|Fil...,12/25/2015,7.4,2015
16,tt2446042,48000000,325771424,Taken 3,Liam Neeson|Forest Whitaker|Maggie Grace|Famke...,Olivier Megaton,It Ends Here,Ex-government operative Bryan Mills finds his ...,109,Crime|Action|Thriller,Twentieth Century Fox Film Corporation|M6 Film...,1/1/2015,6.1,2015
17,tt0478970,130000000,518602163,Ant-Man,Paul Rudd|Michael Douglas|Evangeline Lilly|Cor...,Peyton Reed,Heroes Don't Get Any Bigger,Armed with the astonishing ability to shrink i...,115,Science Fiction|Action|Adventure,Marvel Studios,7/14/2015,7.0,2015
18,tt1661199,95000000,542351353,Cinderella,Lily James|Cate Blanchett|Richard Madden|Helen...,Kenneth Branagh,Midnight is just the beginning.,"When her father unexpectedly passes away, youn...",112,Romance|Fantasy|Family|Drama,Walt Disney Pictures|Genre Films|Beagle Pug Fi...,3/12/2015,6.8,2015
19,tt1951266,160000000,650523427,The Hunger Games: Mockingjay - Part 2,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,The fire will burn forever.,"With the nation of Panem in a full scale war, ...",136,War|Adventure|Science Fiction,Studio Babelsberg|StudioCanal|Lionsgate|Walt D...,11/18/2015,6.5,2015
20,tt1964418,190000000,209035668,Tomorrowland,Britt Robertson|George Clooney|Raffey Cassidy|...,Brad Bird,Imagine a world where nothing is impossible.,"Bound by a shared destiny, a bright, optimisti...",130,Action|Family|Science Fiction|Adventure|Mystery,Walt Disney Pictures|Babieka|A113,5/19/2015,6.2,2015
21,tt1798684,30000000,91709827,Southpaw,Jake Gyllenhaal|Rachel McAdams|Forest Whitaker...,Antoine Fuqua,Believe in Hope.,"Billy ""The Great"" Hope, the reigning junior mi...",123,Action|Drama,Escape Artists|Riche-Ludwig Productions,6/15/2015,7.3,2015
22,tt2126355,110000000,470490832,San Andreas,Dwayne Johnson|Alexandra Daddario|Carla Gugino...,Brad Peyton,"A rescue pilot survived an earthquake, this is...",In the aftermath of a massive earthquake in Ca...,114,Action|Drama|Thriller,New Line Cinema|Village Roadshow Pictures|Warn...,5/27/2015,6.1,2015
23,tt2322441,40000000,569651467,Fifty Shades of Grey,Dakota Johnson|Jamie Dornan|Jennifer Ehle|Eloi...,Sam Taylor-Johnson,Are you curious?,When college senior Anastasia Steele steps in ...,125,Drama|Romance,Focus Features|Trigger Street Productions|Mich...,2/11/2015,5.3,2015
24,tt1596363,28000000,133346506,The Big Short,Christian Bale|Steve Carell|Ryan Gosling|Brad ...,Adam McKay,This is a true story.,The men who made millions from a global econom...,130,Comedy|Drama,Paramount Pictures|Plan B Entertainment|Regenc...,12/11/2015,7.3,2015
25,tt2381249,150000000,682330139,Mission: Impossible - Rogue Nation,Tom Cruise|Jeremy Renner|Simon Pegg|Rebecca Fe...,Christopher McQuarrie,Desperate Times. Desperate Measures.,Ethan and team take on their most impossible m...,131,Action,Paramount Pictures|Skydance Productions|China ...,7/23/2015,7.1,2015
26,tt2637276,68000000,215863606,Ted 2,Mark Wahlberg|Seth MacFarlane|Amanda Seyfried|...,Seth MacFarlane,"Ted is Coming, Again.",Newlywed couple Ted and Tami-Lynn want to have...,115,Comedy,Universal Pictures|Media Rights Capital|Fuzzy ...,6/25/2015,6.3,2015
27,tt2802144,81000000,403802136,Kingsman: The Secret Service,Taron Egerton|Colin Firth|Samuel L. Jackson|Mi...,Matthew Vaughn,Manners maketh man.,The story of a super-secret spy organization t...,130,Crime|Comedy|Action|Adventure,Twentieth Century Fox Film Corporation|Marv Fi...,1/24/2015,7.6,2015
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015
29,tt4046784,61000000,311256926,Maze Runner: The Scorch Trials,Dylan O'Brien|Kaya Scodelario|Thomas Brodie-Sa...,Wes Ball,The Maze Was Just the Beginning.,Thomas and his fellow Gladers face their great...,132,Action|Science Fiction|Thriller,Gotham Group|Temple Hill Entertainment|TSG Ent...,9/9/2015,6.4,2015
30,tt1823672,49000000,102069268,Chappie,Sharlto Copley|Dev Patel|Ninja|Yolandi Visser|...,Neill Blomkamp,I am consciousness. I am alive. I am Chappie.,Every child comes into the world full of promi...,120,Crime|Action|Science Fiction,Columbia Pictures|Media Rights Capital|Sony Pi...,3/4/2015,6.6,2015
31,tt2848292,29000000,287506194,Pitch Perfect 2,Anna Kendrick|Rebel Wilson|Hailee Steinfeld|Br...,Elizabeth Banks,We're back pitches,"The Bellas are back, and they are better than ...",115,Comedy|Music,Universal Pictures|Gold Circle Films|Brownston...,5/7/2015,6.8,2015
32,tt3682448,40000000,162610473,Bridge of Spies,Tom Hanks|Mark Rylance|Amy Ryan|Alan Alda|Seba...,Steven Spielberg,"In the shadow of war, one man showed the world...","During the Cold War, the Soviet Union captures...",141,Thriller|Drama,DreamWorks SKG|Amblin Entertainment|Studio Bab...,10/15/2015,7.1,2015
33,tt1051904,58000000,150170815,Goosebumps,Jack Black|Dylan Minnette|Odeya Rush|Amy Ryan|...,Rob Letterman,The stories are alive.,A teenager teams up with the daughter of young...,103,Adventure|Horror|Comedy,Columbia Pictures|Original Film|Scholastic Ent...,8/5/2015,6.2,2015
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
35,tt1979388,175000000,331926147,The Good Dinosaur,Raymond Ochoa|Jack Bright|Jeffrey Wright|Franc...,Peter Sohn,Little Arms With Big Attitude,An epic journey into the world of dinosaurs wh...,93,Adventure|Animation|Comedy|Family|Fantasy,Walt Disney Pictures|Pixar Animation Studios|B...,11/14/2015,6.6,2015
36,tt2199571,50000000,71561644,Run All Night,Liam Neeson|Ed Harris|Joel Kinnaman|Boyd Holbr...,Jaume Collet-Serra,No sin goes unpunished,Brooklyn mobster and prolific hit man Jimmy Co...,114,Action|Crime|Drama|Mystery|Thriller,Vertigo Entertainment|Energy Entertainment|Rat...,3/11/2015,6.3,2015
37,tt2381111,11000000,62076141,Brooklyn,Saoirse Ronan|Domhnall Gleeson|Emory Cohen|Emi...,John Crowley,"Two countries, two loves, one heart","In 1950s Ireland and New York, young Ellis Lac...",111,Drama|Romance,Wildgaze Films|Irish Film Board|Item 7|Paralle...,11/4/2015,7.3,2015
38,tt1398426,28000000,201634991,Straight Outta Compton,O'Shea Jackson Jr.|Corey Hawkins|Jason Mitchel...,F. Gary Gray,The Story of N.W.A.,"In 1987, five young men, using brutally honest...",147,Drama|Music,New Line Cinema|Universal Pictures|Legendary P...,8/13/2015,7.7,2015
39,tt1618442,90000000,140396650,The Last Witch Hunter,Vin Diesel|Rose Leslie|Michael Caine|Elijah Wo...,Breck Eisner,Hunt forever.,"The modern world holds many secrets, but by fa...",106,Fantasy|Action|Adventure,Summit Entertainment|Atmosphere Entertainment ...,10/21/2015,5.6,2015
40,tt1638355,75000000,108145109,The Man from U.N.C.L.E.,Henry Cavill|Armie Hammer|Alicia Vikander|Eliz...,Guy Ritchie,Saving the world never goes out of style.,"At the height of the Cold War, a mysterious cr...",116,Comedy|Action|Adventure,Davis Entertainment|Warner Bros.|Wigram Produc...,8/13/2015,7.0,2015
41,tt1655441,25000000,42629776,The Age of Adaline,Blake Lively|Michiel Huisman|Harrison Ford|Ell...,Lee Toland Krieger,Love is timeless.,After 29-year-old Adaline recovers from a near...,112,Fantasy|Drama|Romance,Lakeshore Entertainment|Sidney Kimmel Entertai...,4/16/2015,7.3,2015
42,tt3072482,10000000,14333790,Hardcore Henry,Sharlto Copley|Haley Bennett|Danila Kozlovskiy...,Ilya Naishuller,First they made him dangerous. Then they made ...,"Henry, a newly resurrected cyborg who must sav...",97,Action|Adventure|Science Fiction,Bazelevs Production|Versus Pictures,9/12/2015,5.9,2015
43,tt2224026,135000000,368871007,Home,Jim Parsons|Rihanna|Steve Martin|Jennifer Lope...,Tim Johnson,Worlds Collide,When Earth is taken over by the overly-confide...,94,Fantasy|Comedy|Animation|Science Fiction|Family,Twentieth Century Fox Film Corporation|DreamWo...,3/18/2015,6.9,2015
44,tt3622592,12000000,85512300,Paper Towns,Nat Wolff|Cara Delevingne|Halston Sage|Justice...,Jake Schreier,Get Lost. Get Found.,Quentin Jacobsen has spent a lifetime loving t...,109,Drama|Mystery|Romance,Fox 2000 Pictures,7/9/2015,6.2,2015
45,tt2402927,11800000,40272135,Carol,Cate Blanchett|Rooney Mara|Kyle Chandler|Sarah...,Todd Haynes,Some people change your life forever.,"In 1950s New York, a department-store clerk wh...",118,Romance|Drama,Killer Films|Film4|Number 9 Films,11/20/2015,7.1,2015
46,tt2361509,35000000,194564672,The Intern,Robert De Niro|Anne Hathaway|Rene Russo|Anders...,Nancy Meyers,Experience never gets old,70-year-old widower Ben Whittaker has discover...,121,Comedy,Waverly Films|Warner Bros.,9/24/2015,7.1,2015
47,tt2719848,55000000,203427584,Everest,Jason Clarke|Jake Gyllenhaal|Josh Brolin|John ...,Baltasar KormÃ¡kur,The Storm Awaits.,Inspired by the incredible events surrounding ...,121,Adventure|Drama,Universal Pictures|Working Title Films|Walden ...,9/10/2015,6.7,2015
48,tt2058673,105000000,133718711,Point Break,Edgar RamÃ­rez|Luke Bracey|Teresa Palmer|Delro...,Ericson Core,The only law that matters is gravity,A young undercover FBI agent infiltrates a gan...,114,Action|Crime|Thriller,Studio Babelsberg|Alcon Entertainment|DMG Ente...,12/3/2015,5.5,2015
49,tt2503944,20000000,36606743,Burnt,Bradley Cooper|Sienna Miller|Lily James|Alicia...,John Wells,Never underestimate a man with everything to l...,Adam Jones is a Chef who destroyed his career ...,100,Drama,Double Feature Films|PeaPie Films|3 Arts Enter...,10/2/2015,6.3,2015

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [82]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [74]:
# Создание столбца profit (Сборы - бюджет). Содержит int.
data['profit'] = data.apply(lambda row: row['revenue'] - row['budget'], axis=1)

In [75]:
# Создание столбца month. Содержит название месяца в виде целого числа (напр. октябрь = 10)
data['month'] = data.apply(lambda row: row['release_date'][ : row['release_date'].index('/')], axis=1)

In [76]:
# Создание столбца len_original_title. Содержит количество символов в названии
# из столбца original_title в виде int.
data['len_original_title'] = data.apply(lambda row: len(row['original_title']), axis=1)

In [77]:
# Создание столбца len_overview_words. Содержит кол-во слов в описании фильма (overview) в виде int.
data['len_overview_words'] = data.apply(lambda row: len(
    re.compile('\w*\W').findall(row['overview'])), axis=1)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [83]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# если ответили верно, можете добавить комментарий со значком "+"

In [78]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()][['original_title', 'imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

In [ ]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [126]:
# можно добавлять разные варианты решения
data[['original_title', 'imdb_id', 'budget']].sort_values(['budget'], ascending=False).head(1)

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

In [ ]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [85]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [127]:
data[data.runtime == data.runtime.max()][['original_title', 'imdb_id']]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

In [ ]:
answers['2'] = 'Gods and Generals (tt0279111)'

ВАРИАНТ 2

In [279]:
data[['original_title', 'imdb_id', 'runtime']].sort_values(['runtime'], ascending=False).head(1)

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [128]:
data[data.runtime == data.runtime.min()][['original_title', 'imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

In [86]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

ВАРИАНТ 2

In [280]:
data[['original_title', 'imdb_id', 'runtime']].sort_values(['runtime']).head(1)

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

# 4. Какова средняя длительность фильмов?

In [129]:
round(data.runtime.mean())

110

In [87]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [130]:
data.runtime.median()

107.0

In [88]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [131]:
data[data.profit == data.profit.max()][['original_title', 'imdb_id']]

    original_title    imdb_id
239         Avatar  tt0499549

In [89]:
answers['6'] = 'Avatar (tt0499549)'

ВАРИАНТ 2

In [281]:
data[['original_title', 'imdb_id', 'profit']].sort_values(['profit']).tail(1)

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

# 7. Какой фильм самый убыточный?

In [132]:
data[data.profit == data.profit.min()][['original_title', 'imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

ВАРИАНТ 2

In [133]:
data[['original_title', 'imdb_id', 'profit']].sort_values(['profit']).head(1)

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

In [90]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [134]:
data.query('profit > 0').profit.count()

1478

ВАРИАНТ 2

In [135]:
data[data.revenue > data.budget].imdb_id.count()

1478

In [91]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [137]:
grouped = data[data.release_year == 2008].groupby(['release_year']).revenue.max().reset_index()
data[data.revenue == grouped.revenue.max()][['original_title', 'imdb_id']]

      original_title    imdb_id
599  The Dark Knight  tt0468569

In [92]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [282]:
data[(data.release_year <= 2014) & (data.release_year >= 2012)][
    ['original_title', 'imdb_id', 'profit']].sort_values(['profit']).head(1)

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

In [93]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [145]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [146]:
Counter(data.genres.str.cat(sep='|').split('|')).most_common(1)

[('Drama', 782)]

In [94]:
answers['11'] = 'Drama'

ВАРИАНТ 2

In [150]:
 genre_list = data.genres.str.cat(sep='|').split('|')

In [151]:
max(set(genre_list), key=lambda x: genre_list.count(x))

'Drama'

ВАРИАНТ 3

In [284]:
pd.Series(data.genres.str.cat(sep='|').split('|')).value_counts().head(1)

Drama    782
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [155]:
pd.Series(data[data.profit > 0].genres.str.cat(sep='|').split('|')).value_counts().head(1)

Drama    560
dtype: int64

In [95]:
answers['12'] = 'Drama'

ВАРИАНТ 2

In [285]:
Counter(data[data.profit > 0].genres.str.cat(sep='|').split('|')).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [292]:
director_list = data.director.str.cat(sep='|').split('|')
pd.Series({director: sum(data[data.director.str.contains(director)].revenue) for director in director_list}
         ).sort_values().tail(1)

Peter Jackson    6490593685
dtype: int64

In [96]:
answers['13'] = 'Peter Jackson '

ВАРИАНТ 2

In [316]:
revenue = [data['revenue'][data.director.str.contains(director)].sum() for director in director_list]

In [317]:
res_dataframe = pd.DataFrame({'director': director_list, 'revenue': revenue})

In [324]:
res_dataframe.sort_values(['revenue']).tail(1)

           director     revenue
1055  Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [171]:
pd.Series(data[data.genres.str.contains('Action')].director.str.cat(sep='|').split('|')
         ).value_counts().head(1)

Robert Rodriguez    9
dtype: int64

In [97]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [326]:
data_2012 = data[data.release_year == 2012]
data_actor = data_2012.cast.str.cat(sep='|').split('|')

In [327]:
revenue = [data_2012['revenue'][data_2012.cast.str.contains(actor)].sum() for actor in data_actor]

In [328]:
result_df = pd.DataFrame({'actor': data_actor, 'revenue': revenue})

In [329]:
result_df.sort_values(['revenue']).tail(1)

              actor     revenue
57  Chris Hemsworth  2027450773

In [ ]:
answers['15'] = 'Chris Hemsworth'

ВАРИАНТ 2

In [330]:
pd.Series({actor: sum(data_2012[data_2012.cast.str.contains(actor)].revenue) for actor in data_actor}
         ).sort_values().tail(1)

Chris Hemsworth    2027450773
dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [194]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.cat(sep='|').split(sep='|')
         ).value_counts().head(1)

Matt Damon    18
dtype: int64

In [99]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [195]:
pd.Series(data[data.cast.str.contains('Nicolas Cage')].genres.str.cat(sep='|').split('|')
         ).value_counts().head(1)

Action    17
dtype: int64

In [100]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [196]:
data[data.production_companies.str.contains('Paramount Pictures')][['original_title', 'profit']
                                                                  ].sort_values(['profit']).head(1)

           original_title    profit
925  K-19: The Widowmaker -64831034

In [101]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [197]:
data.groupby(['release_year']).revenue.sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

In [102]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [198]:
data[data.production_companies.str.contains('Warner Bros')
    ].groupby(['release_year']).profit.sum().sort_values().tail(1)

release_year
2014    2295464519
Name: profit, dtype: int64

In [103]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [200]:
data['month'].value_counts().head(1)

9    227
Name: month, dtype: int64

In [104]:
answers['21'] = '9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [201]:
summer = ['6', '7', '8']
data.query('month in @summer').cast.count()

450

In [105]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [202]:
winter = ['12', '1', '2']
pd.Series(data.query('month in @winter').director.str.cat(sep='|').split('|')).value_counts().head(1)

Peter Jackson    7
dtype: int64

In [106]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [236]:
prod_comp = data.production_companies.str.cat(sep='|').split('|')

In [237]:
# Почему-то .mean() не срабатывала с конструкцией data.production_companies.str.contains(x) вместо lambda.
# Гуглил долго, но разобраться так и не смог. Если расскажете почему .sum() работает, а .mean() — нет 
# буду очень признателен =)

len_title = [data['len_original_title'][data['production_companies'
                                            ].map(lambda x: True if company in x else False)
                                       ].mean() for company in prod_comp]

In [238]:
res_df = pd.DataFrame(prod_comp, columns=['company'])
res_df['len'] = len_title

In [239]:
res_df[['company', 'len']].sort_values(['len']).tail(1)

                      company   len
4687  Four By Two Productions  83.0

In [107]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [331]:
prod_comp = data.production_companies.str.cat(sep='|').split('|')

In [241]:
# Таже петрушка. .mean() опять не стал работать с data.production_companies.str.contains(x).

len_word_overview = [data['len_overview_words'][data['production_companies'
                                            ].map(lambda x: True if company in x else False)
                                       ].mean() for company in prod_comp]

In [332]:
res_w_df = pd.DataFrame({'company': prod_comp, 'len_words': len_word_overview})

In [333]:
res_w_df.sort_values(['len_words']).tail(1)

                    company  len_words
2335  Midnight Picture Show      192.0

In [115]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [253]:
data_sorted = data[['original_title', 'vote_average']].sort_values(['vote_average'], ascending=False)
len_rows_1per = round(len(data_sorted.original_title) / 100)
result = data_sorted.head(round(len(data_sorted.original_title) / 100))

In [254]:
result

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8

In [116]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [274]:
actor_list = data.apply(lambda row: row.cast.split('|'), axis=1)

In [275]:
pairs = [list(combinations(sublist, 2)) for sublist in actor_list]

In [276]:
pd.Series(itertools.chain.from_iterable(pairs)).value_counts().head(20)

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
(Hugh Jackman, Ian McKellen)           5
(Robert Pattinson, Taylor Lautner)     5
(Kristen Stewart, Robert Pattinson)    5
(Adam Sandler, Kevin James)            5
(Kristen Stewart, Taylor Lautner)      5
(Mike Myers, Cameron Diaz)             4
(Jennifer Lawrence, Liam Hemsworth)    4
(Kristen Stewart, Peter Facinelli)     4
(Christian Bale, Michael Caine)        4
(Liam Hemsworth, Woody Harrelson)      4
(Tobin Bell, Costas Mandylor)          4
(Eddie Murphy, Cameron Diaz)           4
(Tobin Bell, Betsy Russell)            4
(George Clooney, Brad Pitt)            4
(Mike Myers, Eddie Murphy)             4
dtype: int64

In [122]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

# Submission

In [277]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson ',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [278]:
# и убедиться что ни чего не пропустил)
len(answers)

27